<div class="container-fluid">
    <div class="row bg-primary rounded-pill p-3">
        <div class="col-4 offset-1">
            <div class="row">
                <controller-button target-button="L"></controller-button>
                <controller-button target-button="D"></controller-button>
                <controller-button target-button="R"></controller-button>
                <div class="w-100"></div>
                <controller-button offset="9" target-button="U"></controller-button>
            </div>
        </div>
        <div class="col-4 offset-2">
            <div class="row">
                <controller-button target-button="X"></controller-button>
                <controller-button target-button="Y"></controller-button>
                <controller-button target-button="RB"></controller-button>
                <controller-button target-button="LB"></controller-button>
                <controller-button target-button="A"></controller-button>
                <controller-button target-button="B"></controller-button>
                <controller-button target-button="RT"></controller-button>
                <controller-button target-button="LT"></controller-button>
            </div>
        </div>
    </div>
    <controller-history></controller-history>
</div>