<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
/>

<h1 class="display-5">Hello, this is bingusdingus.</h1>
<div style="width: fit-content">
    <span class="lead">You may also know me as <span id="nameDisplay"></span>.</span>
    <div
        id="nameBar"
        class="progress mb-3"
        style="height: 3px"
        role="progressbar"
        aria-label="Loading Next Name..."
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
    >
        <div class="progress-bar bg-secondary" style="width: 0%; transition: none"></div>
    </div>
</div>
<p>
    This is where I put all the neat things I may use on my <a href="https://www.twitch.tv/blu_cheese" target="_blank">Twitch</a> for my fighting game streams,
    or just general things I thought would be neat to make.
</p>
