<div class="row bg-primary rounded-pill mt-3 p-3">
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
    <controller-button col="1"></controller-button>
</div>